<template>
  <el-main>
    <el-row class="row-bg" justify="center">
      <el-col :span="22">
        <div class="grid-content ep-bg-purple"/>
        <el-table :data="dataTable" style="width: 100%; min-width: 1600px">
          <el-table-column prop="type">
            <template #header>
              <el-row>
                Type
              </el-row>
              <el-autocomplete
                  v-model="filterTable.type.value"
                  :fetch-suggestions="querySearch('type')"
                  clearable
                  class="inline-input w-50"
                  placeholder="Please Input"
              />
            </template>
          </el-table-column>
          <el-table-column prop="name_of_gear">
            <template #header>
              <el-row>
                Name of gear
              </el-row>
              <el-input v-model="filterTable.name_of_gear.value" clearable placeholder="Type to search"/>
            </template>
          </el-table-column>
          <el-table-column prop="tier">
            <template #header>
              <el-row>
                Tier
              </el-row>
              <el-select clearable v-model="filterTable.tier.value" class="m-2" placeholder="select tier">
                <el-option
                    v-for="item in formingSelect(`tier`)"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                />
              </el-select>
            </template>
          </el-table-column>
          <el-table-column prop="required_lvl">
            <template #header>
              <el-row>
                Required lvl
              </el-row>
              <el-row>
                <el-input v-model="filterTable.required_lvl.value[0]" placeholder="min" clearable
                          style="max-width: 47%"/>
                -
                <el-input v-model="filterTable.required_lvl.value[1]" placeholder="max" clearable
                          style="max-width: 47%"/>
              </el-row>
            </template>
          </el-table-column>
          <el-table-column label="Min DMG">
            <template #header>
              <el-row>
                Min DMG
              </el-row>
              <el-row>
                <el-input v-model="filterTable.min_dmg.value[0]" placeholder="min" clearable
                          style="max-width: 47%"/>
                -
                <el-input v-model="filterTable.min_dmg.value[1]" placeholder="max" clearable
                          style="max-width: 47%"/>
              </el-row>
            </template>
            <template #default="scope">
              {{ scope.row.min_dmg[0] }}- {{ scope.row.min_dmg[1] }}
            </template>
          </el-table-column>
          <el-table-column prop="max_dmg">
            <template #header>
              <el-row>
                Max DMG
              </el-row>
              <el-row>
                <el-input v-model="filterTable.max_dmg.value[0]" placeholder="min" clearable
                          style="max-width: 47%"/>
                -
                <el-input v-model="filterTable.max_dmg.value[1]" placeholder="max" clearable
                          style="max-width: 47%"/>
              </el-row>
            </template>
            <template #default="scope">
              {{ scope.row.max_dmg[0] }}- {{ scope.row.max_dmg[1] }}
            </template>
          </el-table-column>
          <el-table-column prop="speed">
            <template #header>
              <el-row>
                Speed
              </el-row>
              <el-row>
                <el-input v-model="filterTable.speed.value[0]" placeholder="min" clearable
                          style="max-width: 47%"/>
                -
                <el-input v-model="filterTable.speed.value[1]" placeholder="max" clearable
                          style="max-width: 47%"/>
              </el-row>
            </template>
          </el-table-column>
          <el-table-column prop="critical_rate">
            <template #header>
              <el-row>
                Critical rate
              </el-row>
              <el-row>
                <el-input v-model="filterTable.critical_rate.value[0]" placeholder="min" clearable
                          style="max-width: 47%"/>
                -
                <el-input v-model="filterTable.critical_rate.value[1]" placeholder="max" clearable
                          style="max-width: 47%"/>
              </el-row>
            </template>
          </el-table-column>
          <el-table-column prop="range">
            <template #header>
              <el-row>
                Range
              </el-row>
              <el-row>
                <el-input v-model="filterTable.range.value[0]" placeholder="min" clearable
                          style="max-width: 47%"/>
                -
                <el-input v-model="filterTable.range.value[1]" placeholder="max" clearable
                          style="max-width: 47%"/>
              </el-row>
            </template>
          </el-table-column>
          <el-table-column prop="option1">
            <template #header>
              Option1
              <el-input v-model="filterTable.option1.value" placeholder="Type to search"/>
            </template>
          </el-table-column>
          <el-table-column prop="option2">
            <template #header>
              Option2
              <el-input v-model="filterTable.option2.value" placeholder="Type to search"/>
            </template>
          </el-table-column>
        </el-table>
        <el-row>
        </el-row>
      </el-col>
    </el-row>
  </el-main>
</template>

<script setup>

import {reactive, ref, shallowRef, unref, watch} from 'vue';
import secondData from './data/weapon_base.js';

const arrCsv = secondData.split('\n');
const header = arrCsv.shift().split(',');
const data = arrCsv.map((data) => {
  const newRow = {};
  data.split(',').forEach((data, idx) => {
    const headerName = header[idx] ? header[idx] : header[idx - 1];
    if (newRow[headerName] !== undefined) {
      newRow[headerName] = Array.isArray(newRow[headerName]) ? newRow[headerName] : [newRow[headerName]];
    }
    newRow[headerName] = newRow[headerName] !== undefined ? [...newRow[headerName], data] : data;
  });
  return newRow;
});

const textIncludes = (strict = false) => (val, search) => {
  if (strict) {
    return val.toLowerCase() === search.toLowerCase();
  }
  return val.toLowerCase().includes(search.toLowerCase());
};
const numberFilter = (val, search) => {
  const [val1, val2] = Array.isArray(val) ? val : [Number(val), Number(val)];
  const condition1 = Number(val1) >= Number(search[0] === undefined ? 0 : search[0]);
  const condition2 = !search[1] ? true : Number(val2) <= Number(search[1] === undefined ? 0 : search[1]);
  return condition1 && condition2;

};
const filterTable = reactive({
  type: {
    value: '',
    strict: true,
  },
  name_of_gear: {
    value: '',
  },
  tier: {
    value: '',
  },
  required_lvl: {
    value: [],
    filterFunction: numberFilter,
  },
  min_dmg: {
    value: [],
    filterFunction: numberFilter,
  },
  max_dmg: {
    value: [],
    filterFunction: numberFilter,
  },
  speed: {
    value: [],
    filterFunction: numberFilter,
  },
  critical_rate: {
    value: [],
    filterFunction: numberFilter,
  },
  range: {
    value: [],
    filterFunction: numberFilter,
  },
  option1: {
    value: '',
  },
  option2: {
    value: '',
  },
});
const getUniqueAttrName = attr => [...new Set(data.map(i => i[attr]))];
const formingSelect = type => {
  return getUniqueAttrName(type).map(value => ({value: value, label: value}));
};
const querySearch = (type) => (queryString, cb) => {
  const allList = getUniqueAttrName(type);
  let res = queryString !== null && queryString !== undefined && queryString.length > 0 ? allList.filter(
      item => item.toLowerCase().includes(queryString.toLowerCase())) : allList;
  res = res.map((i) => ({value: i}));
  cb(res);
};
const dataTable = shallowRef([...data]);

watch(filterTable, (newVal,oldVal) => {
  const changedFilter = Object.keys(newVal);
  let newData = [...data];
  Object.entries(filterTable).map((objectVal) => {
    const type = objectVal[0];
    const dataFilter = objectVal[1];
    const filterFunctions = dataFilter.filterFunction !== undefined ? dataFilter.filterFunction : textIncludes(
        dataFilter.strict ? dataFilter.strict : false);
    newData = dataFilter.value ? newData.filter(i => {
      return filterFunctions(i[type], dataFilter.value) === true;
    }) : newData;
  });
  dataTable.value = [...newData];
}, {
  deep: true,
  immediate: true,
});
</script>


<style>

</style>